<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Contact Me</title>

  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles/reset.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="styles/style.css">
</head>

<body>
  <div class="color-primary box-shadow">
    <div class="container">
      <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <h3>Benjamin Candy</h3>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/contact">Contact <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>

  <div class="container color-primary box-shadow mt-4 rounded">
    <div class="row">
      <div class="col-12">
        <div class="content-header">
          <div class="row">
            <div class="col-12">
              <h4 class="my-3">Contact</h4>
              <hr class="pb-4">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <form>
              <label for="formGroupExampleInput">Name</label>
              <input type="text" class="form-control mb-3" id="contact-name" placeholder="John Smith">

              <label for="contact-email">Email</label>
              <input type="email" class="form-control mb-3" id="contact-email" placeholder="example@domain.com">

              <label for="contact-message">Message</label>
              <textarea class="form-control" id="contact-message" rows="8"></textarea>
              <button type="submit" class="btn btn-secondary my-3" id="contact-submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>