<!DOCTYPE html>

<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Ben Candy</title>

  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="styles/reset.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="styles/style.css">
</head>

<body>
  <div class="color-primary box-shadow">
    <div class="container">
      <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <h3>Benjamin Candy</h3>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>

  <div class="jumbotron box-shadow">
    <div class="row">
      <div class="col">
        <img class="d-block rounded-circle personal-image" src="/images/profileImage2.png" alt="profile-picture">
      </div>
    </div>
  </div>

  <div class="container container-2 position-relative">
    <p class="text-right caption position-relative"><span class="text-size-1">Hi, </span><span class="text-size-3">my
        name is </span>
      <br>
      <span class="text-size-1 pr-5 mr-5">Ben</span>
      <br>
      <span class="text-size-4">and I am a developing </span>
      <br>
      <span class="text-size-2 pr-5">Web Developer.</span></p>
    <h4 class="pt-4">Welcome to my Portfolio!</h4>
    <p>I would like to share with you some of my personal projects and activities. Clicking the images below will
      give more information on each application!</p>

    <div class="row">

      <!-- project item 1 -->
      <div class="col-md-6 mb-4">
        <div class="card box-shadow mx-auto" style="width: 18rem;">
          <button class="p-0" href="#multiCollapseExample1" data-toggle="collapse" aria-expanded="false"
            aria-controls="multiCollapseExample1">
            <img src="images/portfolio-scraper.png" class="card-img-top mx-auto card-image" alt="portfolio image">
          </button>
          <div class="card-body">
            <h6 class="card-text text-center">Racing News Scraper</h6>
          </div>
          <div class="collapse multi-collapse" id="multiCollapseExample1">
            <div class="card card-body">
              <div class="text-center">
                <h6>Technologies:</h6>
                <ul>
                  <li>Bootstrap</li>
                  <li>Express</li>
                  <li>Handlebars</li>
                  <li>HTML</li>
                  <li>jQuery</li>
                  <li>Moment</li>
                  <li>MongoDB</li>
                  <li>Mongoose</li>
                  <li>Node</li>
                </ul>
              </div>
              <hr>
              <div class="row links">
                <div class="col-sm-6">
                  <a class="btn mx-auto d-block" target="_blank" href="https://github.com/bcandyman/racingNews"
                    role="button">
                    <img class="icon-portfolio-link" src="/images/icon-github2.png" alt="github logo">
                  </a>
                </div>
                <div class="col-sm-6">
                  <a class="btn mx-auto d-block" target="_blank" href="https://f1-motogp-scraper.herokuapp.com/"
                    role="button">
                    <img class="icon-portfolio-link" src="/images/icon-www2.png" alt="www logo">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- project item 2 -->
      <div class="col-md-6 mb-4">
        <div class="card box-shadow mx-auto" style="width: 18rem;">
          <button class="p-0" href="#multiCollapseExample2" data-toggle="collapse" aria-expanded="false"
            aria-controls="multiCollapseExample1">
            <img src="images/portfolio-pantry.png" class="card-img-top mx-auto" alt="portfolio item">
          </button>
          <div class="card-body">
            <h6 class="card-text text-center">Pantry</h6>
          </div>
          <div class="collapse multi-collapse" id="multiCollapseExample2">
            <div class="card card-body">
              <div class="text-center">
                <h6>Technologies:</h6>
                <ul>
                  <li>Bootstrap</li>
                  <li>Express</li>
                  <li>Handlebars</li>
                  <li>HTML</li>
                  <li>jQuery</li>
                  <li>Node</li>
                  <li>Sequelize</li>
                </ul>
              </div>
              <hr>
              <div class="row links">
                <div class="col-sm-6">
                  <a class="btn mx-auto d-block" target="_blank" href="https://github.com/bcandyman/pantry"
                    role="button">
                    <img class="icon-portfolio-link" src="/images/icon-github2.png" alt="github logo">
                  </a>
                </div>
                <div class="col-sm-6">
                  <a class="btn mx-auto d-block" target="_blank" href="https://bcamp-pantry.herokuapp.com/"
                    role="button">
                    <img class="icon-portfolio-link" src="/images/icon-www2.png" alt="www logo">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- jQuery CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- <script src="https://unpkg.com/@popperjs/core@2"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

  <!-- Bootstrap JavaScript CDN -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  <script src="/js/app.js"></script>
</body>

</html>