::placeholder{
    color:#ccc;
}


a:hover{
    background-color: #4aaaa5;
    border-radius: 2px;
    color: #fff!important;  /*Could not figure out how to change color without using !important here-->*/
}


li:not(:first-child) {
    border-left: #ddd 1px solid;
}


.background-image{
    background-image: url(../images/brickwall.png);
}

.content-container{
    border: #ddd 1px solid;
    background-color: #fff;
    margin-top: 30px;
}

.content-header{
    border-bottom: #ddd 2px solid;
    margin-bottom: 20px;
    padding: 30px 0px 15px 0px;
}

.content-padding{
padding: 20px;
}

.header-navbar{
    padding: 0px;
}

.image-banner{
    background-color: #4aaaa5;
    color: #fff;
    left: 1px;
    padding: 10px 0px;
    position: relative;
    text-align: center;
    top: -80px;
    width: 200px;
}

.main-container{
    max-width: 988px;
    position: relative;
    top: -90px;
}

.nav-anchor{
    padding: 0px;
}

.portfolio-image{
    display: block;
    margin: auto;    
    margin-bottom: 20px;

}

.portfolio-image, img{
    height: 202px;
    width: 202px;
}

body{
    background-color: #777;
    color: #999;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 2em;
}

footer{
    background-color: #777;
    border-top: #4aaaa5 7px solid;
    color: #ccc;
    font-size: 10px;
    padding-top: 30px;
    text-align: center;
}

form input[type=text], textarea{
    background-color: #fff;
    border: 1px #ddd solid;
    border-radius: 4px;
    color: #777;
    margin-bottom: 20px;
    width: 100%;
}

header{
    background-color: #fff;
    border-bottom: 2px #ccc solid;
    height: 85px;
}

h1{
    background-color: #4aaaa5;
    color: #fff;
    font-size: 32px;
    padding: 25px;
}

h2{
    color: #4aaaa5;
    font-size: 24px;
}

h1, h2{
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
}

img{
    border: #ddd 1px solid;
    box-shadow:5px 5px 8px #ddd;
    margin: 0px 20px 20px 0px;
}

input[type=submit]{
    color: #fff;
    background-color: #4aaaa5;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 30px;
}