.jumbotron {
  background-image: url("/images/code.jpg");
  background-size: cover;
  background-position: top center;
  border-bottom: darkorange solid 1px;
  border-top: darkorange solid 1px;
}

.box-shadow {
  -webkit-box-shadow: 7px 7px 2px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow: 7px 7px 2px 0px rgba(50, 50, 50, 0.1);
  box-shadow: 0px 5px 5px 5px rgba(50, 50, 50, 0.1);
}

.color-primary {
  background-color: ghostwhite;
}

body {
  background-image: url("/images/dust_scratches.png");
  font-family: 'Nunito', sans-serif;
}

.text-size-1 {
  font-size: 60px;
}

.text-size-2 {
  font-size: 50px;
}

.text-size-3 {
  font-size: 40px;
}

.text-size-4 {
  font-size: 30px;
}

img:not(.icon-portfolio-link) {
  border: orange solid 1px;
}

img {
  width: 250px;
  margin: auto;
}

@media only screen and (min-width: 767px) {
  .container-2 {
    bottom: 350px;
  }
  img.personal-image {
    margin-left: 100px;
  }
}

@media only screen and (min-width: 992px) {
  img.personal-image {
    margin: auto;
  }
}

img.icon-portfolio-link {
  width: 40px;
}

button {
  border: none;
}